

<p>
  Hi <%= @booking.horse.user.email %>,
</p>
<p>
  <%= @booking.user.email %>, wants to book your Horse <%= @booking.horse.name %> on <%= @booking.date %>.
</p>
<p>
  Please confirm <%= link_to 'the booking', booking_url(@booking) %>
</p>

<% if @booking.horse.photo? %>
  <%= cl_image_tag @booking.horse.photo.path, style: "height:200px; border-radius:15px" %>
<% end %>

<p>See You Soon !</p>

<p>The Ride My Horse Team</p>
