<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <%= render 'search_form' %>
      <div class="row">
        <% @horses.each do |horse| %>
          <div class="col-xs-12 col-sm-6">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(<%= cl_image_path_with_default(horse) %>);">
              <div class="card-category"><%= horse.category.name %><br><%= horse.stars %></div>
              <div class="card-description">
                <h2><%= horse.name %></h2>
                <p><%= "#{horse.description.first(50)}..." if horse.try(:description) %></p>
              </div>
              <!-- <img class="card-user avatar" src="user.jpg"> -->
              <%= link_to horse.name, horse, class: 'card-link' %>
            </div>

          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-4">
      Map here
    </div>
  </div>
</div>
