<% content_for :title do %>
  <%= @horse.name %>
<% end %>

<div class="media">

  <div class="media-body">

    <div class="media-section">
      <h1><%= @horse.name %></h1>
    </div>

    <div class="media-section">
      <h2>Description</h2>
      <ul class="list-group">
        <li class="list-group-item"><%= @horse.category %></li>
        <li class="list-group-item"><%= @horse.equipment %></li>
        <li class="list-group-item"><%= @horse.price %></li>
      </ul>
      <p><%= @horse.description %></p>
    </div>

  </div>

  <div class="media-aside">

    <div class="media-section">
      <h2>Ride me!</h2>
    </div>

    <div class="media-section">
      <h2><%= @horse.stars %></h2>
      <p>add slogan here</p>
    </div>

     <div class="media-section">
      <% if @horse.photo? %>
        <%= cl_image_tag @horse.photo.path, width: 500, crop: :fill %>
      <% end %>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <%= render 'bookings/form' %>
    </form>

  </div>

</div>
<div class="media">

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>@user.name</h3>
        <p>@user.name.review This is just a lovely comment about my ride with this wonderful horse. I really appreciated my experience thank to "ride my horse"</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>@user.name</h3>
        <p>@user.name.review This is just a lovely comment about my ride with this wonderful horse. I really appreciated my experience thank to "ride my horse"</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>@user.name</h3>
        <p>@user.name.review This is just a lovely comment about my ride with this wonderful horse. I really appreciated my experience thank to "ride my horse"</p>
      </div>
    </div>
  </div>
</div>

  <div class="media-aside">

    <div class="media-section">
      <h2></h2>
      <p></p>
    </div>

    <div class="media-section">
      <h2><%= @horse.address %></h2>
      <p></p>
      <img src="http://www.cartesfrance.fr/cartes/carte_france_villes.gif" alt="...">
    </div>

  </div>

</div>
