<%= link_to booking, class: 'product-inherit' do %>
  <div class="product" data-booking-id="#<%= booking.id %>">
    <%= cl_image_tag_with_default booking.horse, alt: booking.horse.name, class: "product-image hidden-xs" %>
    <div class='product-body'>
      <h3 class="product-inherit"><%= booking.horse.name %></h3>
      <h5 class="product-inherit"><%= booking.horse.address %> - <strong><%= booking.date.strftime('%d %B %Y') %></strong> - <%= booking.horse.price %> €</h5>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">

      <li>
        <object>
          <% if booking.user == current_user && booking.user_rating? %>
            <span class='btn btn-success'><%= booking.stars %><%= " Great experience !" if booking.user_rating > 3 %></span>

          <% elsif booking.user == current_user && booking.validated_at? %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Rate your experience
            </button>

          <% elsif booking.horse.user == current_user && booking.owner_rating? %>
            <span class='btn btn-success'><%= booking.owner_stars %><%= " Great experience !" if booking.owner_rating > 3 %></span>

          <% elsif booking.horse.user == current_user && booking.validated_at? %>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Rate the rider
            </button>

          <% end %>
        </object>
      </li>
    </ul>
  </div>
<% end %>

<%= render 'bookings/edit', booking: booking %>
