<div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'>95</div>
  </div>
  <%= cl_image_tag_with_default booking.horse, alt: booking.horse.name, class: "product-image hidden-xs" %>
  <div class='product-body'>
    <h3><%= booking.horse.name %></h3>
    <h5><%= booking.horse.address %> - <strong><%= booking.date.strftime('%d %B %Y') %></strong> - <%= booking.horse.price %> €</h5>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li><a href=""><i class="fa fa-heart"></i></a></li>
    <li><a href=""><i class="fa fa-share"></i></a></li>
    <li><a href=""><i class="fa fa-star"></i></a></li>
  </ul>
</div>
