<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <h3><%= @booking.horse.name %></h3>
        <p><%= @booking.date.strftime('%d %B %Y') %></p>
        <p><%= @booking.horse.address %></p>
        <p><%= @booking.horse.category.name %></p>
        <p><%= @booking.horse.price %> € per day</p>
      </div>

      <%= simple_form_for @booking do |f| %>
        <% if @booking.user == current_user %>
          <%= f.input :user_rating, collection: 0..5, as: :radio_buttons %>
          <%= f.input :user_comment %>
        <% end %>
        <% if @booking.horse.user == current_user %>
          <%= f.input :owner_rating, collection: 0..5, as: :radio_buttons %>
          <%= f.input :owner_comment %>
        <% end %>
          <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
