<% content_for :title do %>
  <%= @user.first_name %> <%= @user.last_name %>
<% end %>

<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
        <% avatar_url = @user.facebook_picture_url || "http://placehold.it/30x30"  %>
        <%= image_tag avatar_url %>
      <h1><%= @user.first_name.try(:capitalize) %> <%= @user.last_name.try(:capitalize) %></h1>
      <h2><%= @user.level.try(:name) %></h2>
    </div>
    <div class="tabs">
      <a class="tab active" data-target="#bookings">
        <h3>My bookings</h3>
      </a>
      <a class="tab" data-target="#horses">
        <h3>My horses</h3>
      </a>
      <a class="tab" data-target="#contact">
        <h3>My profile</h3>
      </a>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="tab-content" id="bookings">

    <h4>Confirmed</h4>

    <% @user.bookings.where('validated_at IS NOT NULL').each do |booking| %>
      <%= render 'bookings/list_item', booking: booking %>
    <% end %>

    <h4>Waiting confirmation</h4>

    <% @user.bookings.where('validated_at IS NULL').each do |booking| %>
      <%= render 'bookings/list_item', booking: booking %>
    <% end %>


  </div>

  <div class="tab-content hidden" id="horses">

    <h4>Confirmed bookings</h4>

    <% @user.horse_bookings.where('validated_at IS NOT NULL').each do |booking| %>
      <%= render 'bookings/list_item', booking: booking %>
    <% end %>

    <h4>Booking requests</h4>

    <% @user.horse_bookings.where('validated_at IS NULL').each do |booking| %>
      <%= render 'bookings/list_item', booking: booking %>
    <% end %>

    <div class="frame">
      <h2>My horses <%= link_to "Add your cuttest horse", new_horse_path, class: 'btn' %></h2>

      <% @user.horses.each do |horse| %>

        <%= link_to horse, class: 'product-inherit' do %>

          <div class="product">
            <%= cl_image_tag_with_default horse, alt: 'ride-my-horse', class: "product-image hidden-xs" %>
            <div class='product-body'>
              <h3><%= horse.name %></h3>
              <p><%= horse.address %> - <strong><%= horse.price %> € / day</strong> - equipped: <%= horse.equipment %></p>
              <h5>Availabilities:</h5>
              <% horse.availabilities.each do |availability| %>
                <p>
                  <%= availability.start_at.strftime('%d %B %Y') %> - <%= availability.finish_at.strftime('%d %B %Y') %>
                </p>
              <% end %>
              <%= simple_form_for :available_horse, method: :get, url: new_availability_path do |f| %>
                <%= f.input :horse, as: :hidden, input_html: {value: horse.id} %>
                <%= f.submit "Add availability", class: 'btn btn-sm btn-primary' %>
              <% end %>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li>
                <object>
                  <a href="">
                    <i class="fa fa-heart"></i>
                  </a>
                </object>
              </li>

              <li>
                <object>
                  <a href="">
                    <i class="fa fa-share"></i>
                  </a>
                </object>
              </li>

              <li>
                <object>
                  <a href="">
                    <i class="fa fa-star"></i>
                  </a>
                </object>
              </li>

            </ul>
          </div>

        <% end %>

      <% end %>

    </div>

  </div>

  <div class="tab-content hidden" id="contact">
    <p>Contact me if you want.</p>
  </div>
</div>
