<div class="container">

  <h2><%= image_tag @user.facebook_picture_url, class: 'avatar avatar-large' %> <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2>

  <div class="tabs">
    <a class="tab active" href="#bookings">
      <h3>Your bookings</h3>
      <p>x planned</p>
    </a>
    <a class="tab" href="#horses">
      <h3>Yours horses</h3>
      <p>y proposed</p>
    </a>
    <a class="tab" href="#profile">
      <h3>Your profile</h3>
      <p>?</p>
    </a>
  </div>

  <h3>Your bookings</h3>

  <% @user.bookings.each do |booking| %>

    <div class="product">
      <div class='product-upvote'>
        <div class="product-arrow"></div>
        <div class='product-count'>95</div>
      </div>

      <!-- <%= cl_image_tag_with_default booking.horse %> -->
      <%= image_tag 'ridemyhorse.gif', alt: 'ride-my-horse', class: "product-image hidden-xs" %>

      <div class='product-body'>
        <h3><%= booking.horse.name %></h3>
        <p><%= booking.date %> - <%= booking.horse.price %> €</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href=""><i class="fa fa-heart"></i></a></li>
        <li><a href=""><i class="fa fa-share"></i></a></li>
        <li><a href=""><i class="fa fa-star"></i></a></li>
      </ul>
    </div>

  <% end %>

  <h3>Your horses</h3>
  <%= link_to "Add your cuttest horse", new_horse_path, class: 'btn' %>

  <% @user.horses.each do |horse| %>
    <h4><%= cl_image_tag_with_default horse %> <%= horse.name %> - <%= horse.price %> €</h4>
    <h4>Availabilities</h4>
    <%= simple_form_for :available_horse, method: :get, url: new_availability_path do |f| %>
      <%= f.input :horse, as: :hidden, input_html: {value: horse.id} %>
      <%= f.submit "Add availability", class: 'btn btn-primary' %>
    <% end %>
    <ul>
      <% horse.availabilities.each do |availability| %>
        <li>
          <%= availability.start_at %> - <%= availability.finish_at %>
        </li>
      <% end %>
    </ul>
  <% end %>

</div>

