<h2><%= image_tag @user.facebook_picture_url, class: 'avatar avatar-large' %> <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2>
<p><%= @user.email %></p>

<h3>Your horses</h3>

<% @user.horses.each do |horse| %>
  <h4><%= cl_image_tag_with_default horse %> <%= horse.name %> - <%= horse.price %> €</h4>
  <h5>Availabilities</h5>
  <ul>
    <% horse.availabilities.each do |availability| %>
      <li>
        <%= availability.start_at %> - <%= availability.finish_at %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Add your cuttest horse", new_user_horse_path(@user), class: 'btn' %>
