<%= render 'shared/banner' %>
<%= render 'search' %>

<div class="container">

  <div class="examples">
    <div class="row">
      <% @horses.each do |horse| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(<%= cl_image_path_with_default(horse, height: 300, width: 400, crop: :fill) %>);">
            <div class="card-category"><%= horse.category.name %><br><%= horse.stars %></div>
            <div class="card-description">
              <h2><%= horse.name %></h2>
              <p><%= "#{horse.description.first(50)}..." if horse.description && !horse.description.empty? %></p>
            </div>
            <!-- <img class="card-user avatar" src="user.jpg"> -->
            <%= link_to horse.name, horse, class: 'card-link' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>



  <div class="content">
    <div class="row">
      <div class="padded">
        <div class="text-center"><h3>How it works ?</h3></div>
      </div>

      <div class="col-md-3">
        <div class="text-center">
          <%= image_tag 'home/pay.png' %>
          <h4>Pay online...</h4>
          <p>... no cash issue</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center">
          <%= image_tag 'home/meet.png' %>
          <h4>Meet ...</h4>
          <p>...passionated people with their beloved companions</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center">
          <%= image_tag 'home/give.png' %>
          <h4>Share ...</h4>
          <p>...join a community you will love and share tips, companions, rides and so much more !</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center">
          <%= image_tag 'home/horseriding.png' %>
          <h4>Ride...</h4>
          <p>...the horse you fall in love with and experience a great moment</p>
        </div>
      </div>
    </div>
  </div>

    <%= render 'shared/mid_banner' %>

  <div class="container content">
    <div class="row">
      <div class="padded">
        <div class="text-center"><h3>They ♡ us</h3></div>
      </div>
      <div class="col-md-4">
        <div class="floated">
          <%= image_tag 'home/lucie.jpg', class: 'circle', style: "height: 100px; width: 100px; object-fit: cover" %>
          <h3>Lucie, Paris</h3>
          <p>Super expérience avec cette belle jument, une balade agréable sur un animal joueur. Bravo à son propriétaire</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="floated">
          <%= image_tag 'home/pierre.jpg', class: 'circle', style: "height: 100px" %>
          <h3>Pierre, Dijon</h3>
          <p>Encore un moment de bonheur en compagnie de Jolly Jumper.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="floated">
           <%= image_tag 'home/franck.jpg', class: 'circle', style: "height: 100px" %>
          <h3>Franck, Toulon</h3>
          <p>Une première sorie réussie grâce à René et sa gentillesse. Je recommande !</p>
        </div>
      </div>
    </div>
  </div>
</div>


