<%= render 'shared/banner' %>

<div class="container">

  <div class="row">
    <% @horses.each do |horse| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(<%= cl_image_path_with_default(horse) %>);">
          <div class="card-category"><%= horse.category.name %><br><%= horse.stars %></div>
          <div class="card-description">
            <h2><%= horse.name %></h2>
            <p><%= "#{horse.description.first(50)}..." if horse.description && !horse.description.empty? %></p>
          </div>
          <!-- <img class="card-user avatar" src="user.jpg"> -->
          <%= link_to horse.name, horse, class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>



  <div class="row">
    <div class="padded">
      <div class="text-center"><h3>How it works ?</h3></div>
    </div>

    <div class="col-md-3">
      <div class="floated">
        <img class="circle" src="http://placehold.it/100x100">
        <h4>Super !</h4>
        <p>you should use it</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="floated">
        <img class="circle" src="http://placehold.it/100x100">
        <h4>Super !</h4>
        <p>you should use it</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="floated">
        <img class="circle" src="http://placehold.it/100x100">
        <h4>Super !</h4>
        <p>you should use it</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="floated">
        <img class="circle" src="http://placehold.it/100x100">
        <h4>Super !</h4>
        <p>you should use it</p>
      </div>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>
